h4 {
    color:gray;
    text-align: center;
}

.container {
    position: absolute;
    background: #ffffff;
    height: 100vh;
    width:280vh;
  }

  .partie_gauche {
    position: absolute;
    background:#2c3e50;
    height: 100vh;
    width: 100vh;

  }
  .logo {
    margin: auto;
    display: block;
    
    width: 3%;
    position: absolute;
    
    top: 100px;
    left: 780px;

    
}
.text {
    position:absolute; 
    left:800px; 
    top:150px;
    color: black;
}

.text2{
    position:absolute; 
    left:810px; 
    top:235px;
    color: black;

}

.login{
    display: block;
    margin-right: auto;
    margin-left: auto;

    position: absolute;
    left: 0px;
    right: 300px;
    top: 0px;
    
    width: 100px;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;

}


.logout{
    display: block;
    margin-right: auto;
    margin-left: auto;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    
    width: 100px;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;

}

.butlogin{
    width: 85px;
    margin: auto;
    position: absolute;
    left: 300px;
    right: 0px;
    top: 0px;
    padding: 10px 20px;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#f14e4e;
    background-color:white;
    border: 2px solid #f14e4e;
    text-align:center;
    transition: all 0.2s;

}