
.search__container {
        padding-top: 64px;
    }
    

.search__input {
        position: absolute;
        left: 890px;
        right: 0px;
        top: 60px;
        width: 20%;
        padding: 12px 10px;

        margin: auto;
        margin-top: -90px;
        margin-left: -220px;
        position: absolute;
        top:100px;
        left: 1000px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: #607d8b;
       
        border-radius: 50px;
        border: 1px solid #607d8b;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.search__button{
    position: absolute;
    left: 750px;
    right: 0px;
    top: 60px;
    width: 85px;
    z-index: 1;
    margin: auto;

    margin: auto;
        margin-top: -90px;
        margin-left: -220px;
        position: absolute;
        top:150px;
        left: 1190px;

    display: flex;
    align-items:flex-start;
    
    padding: 10px 20px;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:white;
    background-color:#607d8b;
    border: 2px solid #607d8b;
    text-align:center;
    transition: all 0.2s

    }