/*.container {
    position: absolute;
    left: 130px;
    right: 0px;
    top: 100px;
    background: white;
    height: 70vh;
    width:150vh;
}
 */

.firstname{
    display: block;
    margin-right: auto;
    margin-left: auto;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 150px;
    
    width: 100px;
    padding: 10px 250px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.lastname{
    display: block;
    margin-right: auto;
    margin-left: auto;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 200px;
    
    width: 100px;
    padding: 10px 250px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.username{
    display: block;
    margin-right: auto;
    margin-left: auto;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 250px;
    
    width: 100px;
    padding: 10px 250px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.password{
    display: block;
    margin-right: auto;
    margin-left: auto;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 300px;
    
    width: 100px;
    padding: 10px 250px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.signup{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 350px;
    width: 100px;
    z-index: 1;
    margin: auto;
    
    padding: 10px 20px;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: white;
    background-color: #f14e4e;
    border: 2px solid #f14e4e;
    text-align:center;
    transition: all 0.2s   
  
  }

  .logo {
    margin: auto;
    display: block;
    
    width: 10%;
    position: absolute;
    
    
    top: 0px;
    left: 560px;
    
}